@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@inherits Base.SuiDisableComponent

<PageTitle>@Title</PageTitle>

<div class="sui-page-layout">
	<MudLayout>
		<MudAppBar>
			@if (NavContent != null)
			{
				<MudIconButton Class="mr-4" Icon="@Icons.Material.Filled.Menu" Color="Color.Secondary" Variant="Variant.Filled" Edge="Edge.Start" DropShadow="false" OnClick="() => isMenuOpen = !isMenuOpen" Disabled="DisableContent" />
			}

			<MudGrid Spacing="0" Style="align-items:center">
				<MudItem Style="flex-grow:1">
					<a href="/">
						<SuiHeading1>@Title</SuiHeading1>
					</a>
				</MudItem>
				<MudItem>
					<AuthorizeView>
						<MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Secondary" Variant="Variant.Filled" Edge="Edge.End" DropShadow="false" OnClick="OnLogoutRequested" Disabled="DisableContent" />
					</AuthorizeView>
				</MudItem>
			</MudGrid>
		</MudAppBar>

		@if (NavContent != null)
		{
			<MudDrawer @bind-Open="isMenuOpen">
				<MudNavMenu>
					@NavContent
				</MudNavMenu>
			</MudDrawer>
		}

		<MudMainContent>
			@if (NoPadding)
			{
				@ChildContent
			}
			else
			{
				<div class="layout-padding-wrapper">
					@ChildContent
				</div>
			}
		</MudMainContent>
	</MudLayout>
</div>

@code {
	bool isMenuOpen = true;

	[Parameter, EditorRequired]
	public string Title { get; set; }

	[Parameter]
	public bool NoPadding { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public RenderFragment? NavContent { get; set; }

	[Parameter]
	public EventCallback OnLogoutRequested { get; set; }
}