.sui-page-layout {
    height: 100%;
}

.sui-page-layout ::deep .mud-layout {
    height: 100%;
}

.sui-page-layout ::deep .mud-main-content {
    height: 100%;
}

.sui-page-layout .layout-padding-wrapper {
    padding: 20px 20px 80px;
}