@inherits Base.SuiDisableComponent

<span class="sui-checkbox-input">
	<MudCheckBox T="bool" Value="Value" ValueChanged="OnValueChanged" Disabled="DisableContent" />
</span>

@code {
	[Parameter]
	public bool Value { get; set; }

	[Parameter]
	public EventCallback<bool> ValueChanged { get; set; }

	private async Task OnValueChanged(bool newValue)
	{
		Value = newValue;
		await ValueChanged.InvokeAsync(newValue);
	}
}
