.sui-multi-switch {
    margin-right: auto;
    border: 2px solid var(--mud-palette-primary);
    border-radius: 10px;
    background: white;
    color: black;
}

.sui-multi-switch button {
    margin: 0;
    padding: 3px 8px;
    border: 2px solid white;
    border-radius: 9px;
    background: white;
    font-size: 14px;
    color: black;
    outline: none;
    transition: background .2s linear, color .2s linear;
}

.sui-multi-switch button.selected {
    background: var(--mud-palette-primary);
    color: white;
}
