.sui-status-strip-item {
    flex-grow: var(--value);
    height: 8px;
}

.sui-status-strip-item.interactive:hover {
    opacity: 0.7;
}

.sui-status-strip-item.primary {
    background: var(--mud-palette-primary);
}

.sui-status-strip-item.secondary {
    background: var(--mud-palette-secondary);
}

.sui-status-strip-item.success {
    background: var(--mud-palette-success);
}

.sui-status-strip-item.error {
    background: var(--mud-palette-error);
}

.sui-status-strip-item.warning {
    background: var(--mud-palette-warning);
}

.sui-status-strip-item.info {
    background: var(--mud-palette-info);
}

.sui-status-strip-item.default {
    background: #888;
}

.sui-status-strip-item ::deep .mud-tooltip-root {
    height: 100%;
}
