.sui-vertical-tile {
    width: 300px;
}

.sui-vertical-tile .title {
    padding: 1px 10px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sui-vertical-tile .image {
    display: block;
    margin: 0 5px;
    width: calc(100% - 10px);
}

.sui-vertical-tile .content {
    padding: 2px 7px 5px;
}

.sui-vertical-tile.clickable {
    cursor: pointer;
}

.sui-vertical-tile ::deep .mud-paper {
    overflow: hidden;
}
